
.divsignup{
    margin-top: 5%;
    border-radius: 2%;
}

.hh1{
  text-align: center;
}

body{
    background-image: url("img/bg.jpg");
}

.sign1{
    width: auto;
    height: auto;
    position: absolute;
    float: right;
    /*margin-top: 100px;*/
    margin-left: 83%;
    padding: 2%
}


/*-----------------index page-------------*/

.roww{
    width: 100%;
    height: 200px;
    border-bottom: darkolivegreen 1px solid;
    padding: 20px;
    padding-bottom: 0;
}

.imgg{
    width: 20%;
    height: 100%;
    overflow: hidden;
    /*background-size: 100% 100%;*/
}

img{
    width: 20%;
    height: 100%;
    /*object-fit: cover;*/
}


/*-------------------item view---------------------*/

.viewad{
    position: absolute;
    margin-left: 500px;
    padding: 100px;
}